body{
    background-color: rgb(65, 1, 107);
    position: fixed;
    
    
}
.sr-only {
    pointer-events: none;
    
}
section .layout {

    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    color: rgb(255, 254, 254);
    backdrop-filter: blur(8px);
    border-width: 2rem;
}



.top-icon{
    width:4%;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 40px;
}

.nav-brand{
    margin-left: 65px;
}

h5{
    margin-left: 1.5rem;
}
.top-container{
    margin: 3rem auto 3rem auto;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, white, rgb(77, 2, 138));
    border-image-slice: 1;
    width:90%;
    padding: 50px 0px 25px 0px;
}
.quote{
    font-size: 60px;
    
}
.title-brand{
    padding: 3% 5%;
    
}
.content-links{
    position: relative;
    left:57rem;
}
h1{
    color: white;
    font-family: 'STIX Two Math', serif;
    font-size: 5rem;
}
#testimonial h5{
    margin: 0px 100px;
    text-align: center;
}
h6{
    display: inline;
}
.title-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-right: 30px;
}
.title-image{
    margin: 0%;
    color: rgb(77, 2, 138);
    width: 90%;
}
.image-section{
    text-align:center;
    background-color: rgb(65, 1, 107);
    margin:auto;

}
#features{
    background-color: white;
}
.features{
    padding: 7% 0px 17% 0px;
    text-align: center;
    background-color: white;
}
.feature-img{
    width: 60%;
    margin: 10px auto;
}
.card-text{
    text-align: left;
    width:80%;
    margin: 3% auto 3% auto;
}
.card{
    margin:50px 10px 50px 10px ;
    padding-top: 10px;
    border:5px solid black;
}
.slide-imgs{
    margin: 40px auto 200px auto;
    height: 500px ;
    width: 200px;
}
#AboutUs{
    background-color: white;
    text-align: center;
    padding: 25px 0 30px 0;
}

#Contact{
    background-color: white;
    text-align: center;
    padding: 25px 0 30px 0;
    
}
.social-icons{
    width: 2%;
    margin: 5px 10px 5px 10px;
}
#footer{
    padding-top:10px;
    text-align: center;
    color: white;
    font-size: 10px;
}


@media screen and (max-width: 900px)
{
    .content-links{
        position: none;
        left:0;
    }

    .slide-imgs{
        margin: 40px auto 200px auto;
        height: 300px ;
        width: 200px;
    }
    
}
